* {
  box-sizing: border-box;
  margin: 0;
}

.app-container {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display:grid;
  grid-template-rows: 0.75fr 8fr 0.75fr;
}

.navigation {
  display: flex;
  background-color: black;
  color: Blue;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  color: rgb(86, 86, 119);
  justify-content: center;
  align-items: center;
}
